*{
  box-sizing: border-box;
  margin:0 ;
  padding: 0;
}

.headdsp{
  display: flex ;
  flex-direction: row;
}

h1{
  padding: 25px;
  color: #191970 ;
}

.head_guide{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 20px 20px 0 0;
}

.head_guide a{ 
  text-decoration: none;
  padding: 15px;
  font-size: 16px;
  color: #191970;
  font-weight:bold ;
}

.coverimg{
    position: relative;
}

.coverimg img{
  margin:100px 0 0 auto ;
  width:50% ;
  display: block;
  z-index: 10 ;
}

.fhrase{
  position: absolute;
  font-size: 50px;
  left: 0%;
  top: 65%;
  font-size:65px;
  font-weight: 500;
  z-index: -1;
}

.fhrase:after{
  content: "";
  position: absolute;
  top: 100%;
  left: 0px;
  width: calc(100vw - 85%);
  height: 275%;
  background-color: rgb(0, 8, 112);
}
